package view

templ Home(name string) {
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Go-Htmx blueprint</title>
  <link href="/dist/main.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js">
}
